# CardAuth - 授权管理系统

# 后端
/backend/.env
/.env
/backend/storage/cache/*
/backend/storage/logs/*
!/backend/storage/logs/.gitkeep
/backend/vendor/

# 前端
/frontend/node_modules/
/frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 临时文件
/backend/tmp_*.php
/backend/test_admin.txt
/backend/public/uploads/avatars/*
/backend/public/uploads/packages/*
!/backend/public/uploads/packages/.gitkeep
/frontend/vite.config.js.timestamp-*

# 系统文件
.DS_Store
Thumbs.db